### Visual Studio / C++ ###

# Configuration VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Dossiers de compilation (IL FAUT les ignorer pour éviter les conflits !)
[Bb]uild/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
ARM/
[Aa][Rr][Mm]64/
ipch/
Out/

# Fichiers objets, de debug et exécutables locaux
*.obj
*.o
*.pch
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.tmp
*.cache
*.exe

# Fichiers auto-générés par VS
*.aps
*.ncb
*.opendb
*.sdf
*.sln.ide
*.VC.db
*.VC.opendb

# CMake
[Cc]MakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Fichiers OS
.DS_Store
Thumbs.db

# --- LA PARTIE IMPORTANTE ---
# Force Git à prendre tes DLLs, libs et assets peu importe où ils sont
!*.dll
!*.lib
!*.ttf
!*.png
!*.wav
!*.jpg